#nav-container {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#nav-wrapper{
    height: 50px;
    padding: 10px;
    margin: 0;
    display: flex;
    background-color: gray;
    justify-content: space-between;
    margin: auto;
}
.nav-elements{
    text-decoration: none;
    color: rgb(103, 228, 103);
    font-size: 25px;
}